.BocBai
{
    display: inline-block;
    position: relative;

    .imgmattruoc
    {
        // display: none;
        position: absolute;
    }
    .imgLaBai
    {
        position: relative;
        transition: transform 0.5s; /* Thiết lập thời gian chuyển đổi */
        &:hover
        {
         

        }

    }
    .content
    {   
        position: absolute;
        margin-top: -350px;
        .name
        {
                position:absolute;
                 margin-top: -120px;
                 margin-left: 22px;
                 font-size:30px ;
                 font-weight: bold;
                 width: 340px;
                 color: black;
                

               
        }
        .des
        {
                width: 330px;
                font-size:25px;
                text-align: justify;
                margin-left: 33px;
                color: #333;
                margin-top: 20px;

                
        }
    }
}