
  .modal
  {
    background-color: blueviolet;
  }
.imgLaBai1
{
    width: 100px;
    height: 150px;
}
.boxitem
{
    display:inline-flex;
    margin-left: 25px;
    
    .content
    {
        position: relative;
        margin-left: -100px;
        padding-top: 10px;
        padding-left: 20px;
        font-size: 13px;
        font-weight: bolder;
        width: 80px;
        text-align: center;
    }
}
